<%- include("../partials/header") %> 
<div class="container">
    <h1 class="text-center my-4"> DANH SÁCH KHOÁ HỌC </h1>
    <div class="table-responsive">
        <table class="table table-hover" id="example">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên khoá học</th>
                    <th>Ngày tạo</th>
                    <th>Thời lượng</th>
                    <th class="text-center">Giá</th>
                    <th>Rating</th>
                    <th>Số người học</th>
                    <th>Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < courses.length; i++) { %>
                    <tr>
                        <th><%= i + 1 %> </th>
                        <td><%= courses[i].Course_name %></td>
                        <td><%= moment(courses[i].Date_created).format('DD/MM/YYYY'); %></td>
                        <td><%= moment(courses[i].Length).format('HH:MM'); %></td>
                        <td class="text-right"><%= courses[i].Price%> VND</td>
                        <td><%= courses[i].Rating %></td>
                        <td><%= courses[i].Learner %></td>
                        <td>
                            <a href="/courses/<%= courses[i].Id %>/edit" class="btn py-0 pl-0 text-primary"><i class="far fa-edit"></i></a>
                            <form class="d-inline" action="/courses/<%= courses[i].Id %>?_method=DELETE" method="POST" onsubmit="return confirm('Bạn có chắc là muốn xoá khoá học này?');">
                                <button class="btn py-0 pl-0 text-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    
    <a href="/courses/new" class="btn btn-success">Tạo khoá học mới</a>
</div>
<script>
    formatMoney();
    function formatMoney(){
    $('.vnMoney').each(function () {
        var item = $(this).text();
        item = item.replace(",","");
        var num = Number(item).toLocaleString('en');    
        
        $(this).text(num);
    });
}
</script>
<%- include("../partials/footer") %> 
